{% extends "layout.html" %}
{% block content%}
<br>
<div class="jumbotron">
  <h1 class="display-4">About!</h1>
  <p class="lead">EZwallet is a bill payment and management service that lets you pay/manage your bills on the fly and use any of your debit/credit card(s) safely and securely</p>
  <hr class="my-4">
  <p> The main goal of our service is for you to view your bills in one place and have the ability to pay them using any of your debit/credit cards. To provide increased security for you, we are able to pay your bills through an anonymous card, so you do not have to submit debit/credit card info to companies. We simply accept the money for the amount you pay and deposit that amount into an anonymous card which we then use to actually pay your bill. As soon as a bill is paid, you will receive and email and SMS confirmation. You can add as many debit/credit cards as you like and pay your bills at any moment through our website.  </p>

  <p> On top of our billing services, we also provide bill management and extra financial features for you! At any given moment, you can track your payments using our dashboard. You can see a graph of recent payments, a list of recent payments and info, and see what categories you are paying the most in. For those who are financial professionals or simply interested in finance, we provide real-time cryptocurrency and stock prices updates, as well as real-time currency rates. We also have a page for top business news articles! The news is updated throughout the day when new top/breaking articles are out so you can always stay updated.  </p>

  <p> We hope you sign up and enjoy our services! Make sure to leave a comment using our feedback page letting us and others know how we are doing! </p>

  <a class="btn btn-primary btn-lg" href="/register" role="button">Register Today!</a>
</div>
{% endblock %}