{% extends "layout.html"%}
{% block content %}
<br>
<br>
<br>
<div class="row">
  <div class = "col-lg-4">
<div class="card" style="width: 18rem;">
  <img src="../static/bill01.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pay Bill</h5>
    <p class="card-text">Pay and manage your bills by adding card in your eWallet</p>
    <a href="/selectBill" class="btn btn-primary">Pay Bill</a>
  </div>
</div>
</div>
 <div class = "col-lg-4">
<div class="card" style="width: 18rem;">
  <img src="../static/bill02.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Schedule Payments</h5>
    <p class="card-text">Pay and manage your bills by adding card in your eWallet</p>
    <a href="#" class="btn btn-primary">Schedule Payments</a>
  </div>
</div>
</div>
 <div class = "col-lg-4">
<div class="card" style="width: 18rem;">
  <img src="../static/card.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">View Bills</h5>
    <p class="card-text">Pay and manage your bills by adding card in your eWallet</p>
    <a href="/viewBills" class="btn btn-primary">View Bills</a>
  </div>
</div>
</div>
</div>
{% endblock %}