{% extends "layout.html"%}
{% block content %}
<br>
<br>
<br>
<div class="row">
<div class="col-lg-4">
<div class="card" style="width: 18rem;">
  <img src="../static/card.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Add Card</h5>
    <p class="card-text">Pay and manage your bills by adding card in your eWallet</p>
    <a href="/addCardForm" class="btn btn-primary">Add Card</a>
  </div>
</div>
</div>

<div class="col-lg-4">
<div class="card" style="width: 18rem;">
  <img src="../static/card.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">View Cards</h5>
    <p class="card-text">Pay and manage your bills by adding card in your eWallet</p>
    <a href="/viewCards" class="btn btn-primary">View Card</a>
  </div>
</div>
</div>

<div class="col-lg-4">
<div class="card" style="width: 18rem;">
  <img src="../static/card.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Remove Card</h5>
    <p class="card-text">Pay and manage your bills by adding card in your eWallet</p>
    <a href="#" class="btn btn-danger">Remove Card</a>
  </div>
</div>
</div>

</div>
{% endblock %}