{% extends "layout.html"%}
{% block content %}
<br>
<br>
<br>
<div class="row">
  <div class="col-lg-6">
    <div class="card" style="height: 300px; width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Utility Bills</h5>
        <p class="card-text">Choose your utility. Its Easy and Fast.</p>
      </div>
      <a href="/manageBill/selectBill/selectUtility" class="btn btn-primary">Choose Utility</a>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card" style="height: 300px; width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Entertainment Bills</h5>
        <p class="card-text">Choose your utility. Its Easy and Fast.</p>
      </div>
      <a href="#" class="btn btn-primary">Choose Entertainment</a>
    </div>
  </div>
  </div>
<br>
<div class="row">
  <div class="col-lg-6">
    <div class="card" style="height: 300px; width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Food & Grocery Bills</h5>
        <p class="card-text">Choose your utility. Its Easy and Fast.</p>
      </div>
      <a href="#" class="btn btn-primary">Choose Food & Grocery</a>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card" style="height: 300px; width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Mortgage and Insurance</h5>
        <p class="card-text">We accept all major mortgage and insurance payments</p>
      </div>
      <a href="#" class="btn btn-primary">Choose Mortgage & Insurance</a>
    </div>
  </div>
</div>
{% endblock %}